@import 'fonts';
@import 'variables';

* {
    box-sizing: border-box;
}

body {
    font-family: $ff-primary;
    color: #fff;
    line-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0b1d26;
}
